@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  background-color: #f8e2cf; /* Светлый фон */
  color: #4b3832;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: slideInFromBottom 1s forwards;

  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .contactInfo,
    .links,
    .newsletter {
      flex: 1;
      margin: 10px;

      h3 {
        margin-bottom: 10px;
        color: #ff8c42; /* Теплый оранжевый акцент */
        font-family: 'Merriweather', serif; /* Применение нового шрифта */
      }

      p,
      li {
        margin-bottom: 5px;
        font-family: 'Merriweather', serif; /* Применение нового шрифта */
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          a {
            color: #ff8c42; /* Теплый оранжевый акцент */
            text-decoration: none;
            font-family: 'Merriweather', serif; /* Применение нового шрифта */

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          padding: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 5px;
          font-family: 'Merriweather', serif; /* Применение нового шрифта */
        }

        button {
          padding: 10px;
          border: none;
          border-radius: 5px;
          background-color: #ff8c42; /* Теплый оранжевый акцент */
          color: #fff;
          cursor: pointer;
          font-size: 1em;
          font-family: 'Merriweather', serif; /* Применение нового шрифта */

          &:hover {
            background-color: #e67628;
          }
        }
      }
    }
  }
}
